Flow.json
[{"id":"d4a75fc04f1456c9","type":"tab","label":"Assis Ask 1st","disabled":false,"info":"","env":[]},{"id":"b57d70c477cae541","type":"server-state-changed","z":"d4a75fc04f1456c9","name":"Event state","server":"b5af624.e287ca","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":[],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":140,"wires":[["ae74a22e6c611eb3"]]},{"id":"ae74a22e6c611eb3","type":"ha-wait-until","z":"d4a75fc04f1456c9","name":"More condition","server":"b5af624.e287ca","version":3,"outputs":1,"entities":{"entity":[],"substring":[],"regex":[]},"property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":240,"y":140,"wires":[["7101e1f5c249263a"]]},{"id":"7101e1f5c249263a","type":"api-call-service","z":"d4a75fc04f1456c9","name":"Set Id intent to \"action\"","server":"b5af624.e287ca","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.id_intent"],"labelId":[],"data":"{   \"value\": \"Your action\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":450,"y":140,"wires":[["17d1047c842ce192"]]},{"id":"17d1047c842ce192","type":"api-call-service","z":"d4a75fc04f1456c9","name":"Asking","server":"b5af624.e287ca","version":7,"debugenabled":false,"action":"tts.cloud_say","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{   \"cache\": false,   \"entity_id\": \"YOUR ASSIST SATELLITE ENTITY\",   \"message\": \"YOUR MESSAGE?\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"tts","service":"cloud_say","x":650,"y":140,"wires":[["78c7c048c64a383e"]]},{"id":"78c7c048c64a383e","type":"delay","z":"d4a75fc04f1456c9","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":140,"wires":[["53a15d60ac6b5de0"]]},{"id":"53a15d60ac6b5de0","type":"api-call-service","z":"d4a75fc04f1456c9","name":"set intent id Unknow","server":"b5af624.e287ca","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.id_intent"],"labelId":[],"data":"{   \"value\": \"Unknow\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":1000,"y":140,"wires":[[]]},{"id":"ef327b5e8907ba1e","type":"server-state-changed","z":"d4a75fc04f1456c9","name":"Answer: Yes","server":"b5af624.e287ca","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_text.si_o_no"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"Yes","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":260,"wires":[["d5da104acd210f82","ccea5342cf89447a"],[]]},{"id":"d5da104acd210f82","type":"api-current-state","z":"d4a75fc04f1456c9","name":"Intent","server":"b5af624.e287ca","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_text.id_intent","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":260,"wires":[["af3639fc836fe686"]]},{"id":"af3639fc836fe686","type":"switch","z":"d4a75fc04f1456c9","name":"Wich intent?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Cinema","vt":"str"},{"t":"eq","v":"Your action","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":260,"wires":[["543c58125d20733c"],[],[],[],[],[]]},{"id":"543c58125d20733c","type":"api-call-service","z":"d4a75fc04f1456c9","name":"Set your action","server":"b5af624.e287ca","version":7,"debugenabled":false,"action":"","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_on","x":560,"y":220,"wires":[[]]},{"id":"76bb78fef21b4d4b","type":"api-call-service","z":"d4a75fc04f1456c9","name":"Set Answer to Unknow","server":"b5af624.e287ca","version":7,"debugenabled":false,"action":"input_text.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_text.si_o_no"],"labelId":[],"data":"{   \"value\": \"Unknow\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_text","service":"set_value","x":200,"y":380,"wires":[[]]},{"id":"e2e7c74b5f7bcf86","type":"comment","z":"d4a75fc04f1456c9","name":"set condition","info":"","x":110,"y":100,"wires":[]},{"id":"36e72903cdb523d4","type":"comment","z":"d4a75fc04f1456c9","name":"name the intent id and set entity input_text.id_intent","info":"","x":450,"y":40,"wires":[]},{"id":"552d3f9ff4558d96","type":"comment","z":"d4a75fc04f1456c9","name":"write what you want assist ask","info":"","x":750,"y":80,"wires":[]},{"id":"486a5a09c256b17a","type":"comment","z":"d4a75fc04f1456c9","name":"set entity input_text.id_intent","info":"","x":1020,"y":80,"wires":[]},{"id":"21af66e9b2302586","type":"comment","z":"d4a75fc04f1456c9","name":"entity input_text.answer","info":"","x":100,"y":220,"wires":[]},{"id":"f8f0db2b973197f5","type":"comment","z":"d4a75fc04f1456c9","name":"entity input_text.id_intent","info":"","x":330,"y":200,"wires":[]},{"id":"ee4f58a3df859332","type":"comment","z":"d4a75fc04f1456c9","name":"write your intent. MUST BE = \"YOUR ACTION\"","info":"","x":500,"y":340,"wires":[]},{"id":"fde7a16282086db9","type":"comment","z":"d4a75fc04f1456c9","name":"set entity input_text.answer","info":"","x":200,"y":420,"wires":[]},{"id":"ccea5342cf89447a","type":"delay","z":"d4a75fc04f1456c9","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":220,"y":320,"wires":[["76bb78fef21b4d4b"]]},{"id":"b5af624.e287ca","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":true,"heartbeatInterval":"30","statusSeparator":"","enableGlobalContextStore":false}]
